.storyContainer {
  overflow: scroll auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 598px;
  height: 120px;
  margin-top: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;

  img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    padding: 2px;
    border-radius: 35px;
    border: 2px solid #c62e61;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .Stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
  }

  p {
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
    padding-left: 10px;
  }
}
